{% extends "layout.html" %}

{% block pageTitle %}
Who is the consignee - govuk
{% endblock %}

{% block beforeContent %}
{{super()}}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h1 id="questionPageHeading" class="govuk-heading-xl margin-bottom-20">Who is the consignee?</h1>
      <span id="questionPageSubtitle" class="govuk-caption-xl"></span>
      <span id="questionPageHint" class="govuk-body govuk-!-margin-bottom-3 govuk-hint">Provide details of the person the consignment will be shipped to, or their representative.</span>
      <p>
      </p>
      <form method="POST">
        <input type="hidden" name="crumb_csrf_token" value="iPCPTvJUeOWpwzfyGMAuuzwnFDrzrao8BPMCTQ88C7q">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="8270EHC-0">Consignee name (optional)</label>
          <input class="govuk-input form-control-3-4" id="8270EHC-0" name="consignee_name" value="{{data.consignee_name or 'Consignee Address'}}" type="text" data-qa-id="Question-8270EHC-0">
        </div>
        <input type="hidden" name="0-formQuestionId" value="7865">
        <input type="hidden" name="0-questionId" value="600">
        <input type="hidden" name="0-formName" value="8270EHC">
        <input type="hidden" name="0-questionText" value="Consignee name (optional)">
        <input type="hidden" name="0-questionType" value="text">
        <input type="hidden" name="0-questionOrder" value="1">
        <input type="hidden" name="0-questionScope" value="BOTH">
        <input type="hidden" name="questionSequence-7865" value="0">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="8270EHC-1">Consignee address (optional)</label>
          <textarea class="govuk-textarea" id="8270EHC-1" name="consignee_address" rows="3" data-qa-id="Question-8270EHC-1">{{data.consignee_address or "Consignee Address Andrew"}}</textarea>
        </div>
        <input type="hidden" name="1-formQuestionId" value="7866">
        <input type="hidden" name="1-questionId" value="601">
        <input type="hidden" name="1-formName" value="8270EHC">
        <input type="hidden" name="1-questionText" value="Consignee address (optional)">
        <input type="hidden" name="1-questionType" value="textarea">
        <input type="hidden" name="1-questionOrder" value="2">
        <input type="hidden" name="1-questionScope" value="BOTH">
        <input type="hidden" name="questionSequence-7866" value="1">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="8270EHC-2">Consignee telephone number (optional)</label>
          <input class="govuk-input form-control-3-4" id="8270EHC-2" name="consignee_phone" value="{{data.consignee_phone or ''}}" type="text" data-qa-id="Question-8270EHC-2">
        </div>
        <input type="hidden" name="2-formQuestionId" value="7867">
        <input type="hidden" name="2-questionId" value="602">
        <input type="hidden" name="2-formName" value="8270EHC">
        <input type="hidden" name="2-questionText" value="Consignee telephone number (optional)">
        <input type="hidden" name="2-questionType" value="text">
        <input type="hidden" name="2-questionOrder" value="3">
        <input type="hidden" name="2-questionScope" value="BOTH">
        <input type="hidden" name="questionSequence-7867" value="2"> <!-- @formatter:on -->
        <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="3">
        <div class="govuk-grid-row margin-top-30"></div>
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
          <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
          </div>
        </div>

      </form>

      <p></p>
    </div>
  </div>
</div>
{% endblock %}
