{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      QR codes
      <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
    </h1>
    <form method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          URL
        </label>
        <input class="govuk-input" id="event-name" name="url" type="text" value="{% if query.show_results == "yes"%}{{data.url}}{%endif%}">
      </div>
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
  Create QR code
</button>
      </div>
    </form>
</div>
</div>
{% if query.show_results == "yes" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Level L (7%) </h3>
    <img src="/public/images/qrcode_l.png" width="100%"/>
  </div>
<div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-m">Level M (15%)  </h3>
<img src="/public/images/qrcode_m.png"  width="100%"/>
</div>
<div class="govuk-grid-column-one-quarter">
  <h3 class="govuk-heading-m">Level Q (25%)</h3>
  <img src="/public/images/qrcode_q.png" width="100%"/>
</div>
<div class="govuk-grid-column-one-quarter">
  <h3 class="govuk-heading-m">Level H (30%)</h3>
  <img src="/public/images/qrcode_h.png" width="100%"/>
</div>
</div>
{% endif %}

{% endblock %}
