// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/responsive-tables";
@import "components/organisation-switcher";
@import "components/status";
@import "components/search";
@import "components/alerts";
@import "components/filter";
@import "components/facet-tag";
@import "components/status-tag";
@import "components/cards";
@import "components/button-menu";
@import "components/pagination";
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import "patterns/login-nav";


.organisation-form {
  height: 3.5em;
    padding-top: 15px;
    padding-bottom: 0px;
}

.blue-button {
    background-color: #005ea5;
    color: #ffffff;
}

.govuk-table .govuk-tag.green {
  background-color: #006435;
}

.govuk-table .govuk-tag.blue {
  background-color: #005ea5;
}

.govuk-table .govuk-tag.orange {
  background-color: #f47738;
}

.govuk-table .govuk-tag.red {
  background-color: #b10e1e;
}


.link-button, .link-button:visited{
    background: none !important;
    color: #005ea5;
    border: none;
    padding: 0 !important;
    font: inherit;
    border-bottom: 1px solid #005ea5;
    cursor: pointer;
    text-decoration: none;
}

.defra-link-button, .defra-link-button:visited{
    background: none !important;
    color: #005ea5;
    border: none;
    cursor: pointer;
    text-decoration: underline !important;
    -webkit-font-smoothing: antialiased;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    box-shadow: none;
    display:inline-block;
}
.defra-link-button--inline{
  margin-top: 8px;
  margin-left: 15px;
}
.icon {
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.icon-file-download {
    width: 30px;
    height: 39px;
    background-image: url('../images/icon-file-download.png');
}

.defra-lebel--inline{
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
font-size: 1.1875rem;
line-height: 1.31579;

}

.govuk-table .govuk-tag, .turquoise-tag {
  width: 90px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 4px 8px 1px;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #6f777b;
}

.govuk-tag-l {
  width: auto;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  padding: 6px 10px 3px;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #6f777b;
}


.turquoise-tag, .turquoise{
    background-color: #28a197 !important;
}


@media (min-width: 40.0625em) {
  dl.govuk-summary-list.govuk-\!-margin-bottom-9 {
    .govuk-summary-list__key {
      width: 60%;
    }
    .govuk-summary-list__value {
      width: 30%;
    }
    .govuk-summary-list__actions {
      width: 10%;
    }
  }
  .govuk-summary-list__m{
    .govuk-summary-list__key {
     width: 50%;
   }
   .govuk-summary-list__value {
     width: 40%;
   }
   .govuk-summary-list__actions {
     width: 10%;
   }
  }
  .govuk-link-group--right{
    margin-top:10px;
    text-align: right;
  }
}
.govuk-govuk-summary-list__disabled{
  background-color: #f3f2f1;
}

.notice strong {
    display: block;
    padding-left: 40px;
}
.notice .icon {
    position: absolute;
    left: 0;
    top:50%;
    margin-top:-20px;
}
.notice{
    position: relative;
    margin-bottom:48px;
}
//summary_list extension
@media (min-width: 40.0625em){
  .govuk-summary-list__40 {
      width: 40% !important;
  }

}
.govuk-table__disabled td{
  background-color: #f3f2f1;
}
