{% extends "layout.html" %}

{% block pageTitle %}
EXP-8903 contents page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      EXUCD-22: Certifier with over a many accounts switches organisation
      <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
    </h1>
    <p class="govuk-body"><a href="govuk-link" href="https://eaflood.atlassian.net/browse/EXUCD-22?atlOrigin=eyJpIjoiMTYwMGMwZjhjYmQ4NDYzNThiZmYwYjQ4N2QxYzZkZGQiLCJwIjoiaiJ9">UX Jira ticket EXUCD-22</a></p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <ul class="govuk-list">
      <li><a href="cases?show_full_list=yes">Cases with new org switcher design</a></li>
      <li><a href="switch-organisation?show_full_list=yes">Organisation switcher - many accounts (new)</a></li>
      <li><a href="switch-organisation?show_full_list=no">Organisation switcher - 3 accounts (new)</a></li>
      <br>
      <li><a href="summary/case-dispached-group?ehc=2849EHC&destination=United%20Arab%20Emirates%20(UAE)&cert_id=16&case_id=20/08023">Summary page <span style="text-transform:UPPERCASE">simple</span> (new)</a><br></li>
      <li><a href="summary/case-dispached-group-manage?ehc=2849EHC&destination=United%20Arab%20Emirates%20(UAE)&cert_id=16&case_id=20/08023">V1 Summary page with checkboxes and two buttons<span style="text-transform:UPPERCASE">bulk</span> (Experimental)</a><br></li>
        <li><a href="summary/case-dispached-group-manage2?ehc=2849EHC&destination=United%20Arab%20Emirates%20(UAE)&cert_id=16&case_id=20/08023">V2 Summary page with dropdown button <span style="text-transform:UPPERCASE">bulk</span> (Experimental)</a><br></li>
      <li><a href="summary/case-dispached-group-bulk-button?ehc=2849EHC&destination=United%20Arab%20Emirates%20(UAE)&cert_id=16&case_id=20/08023">V3 Summary page with review all button <span style="text-transform:UPPERCASE">bulk</span> (Experimental)</a><br></li>

      <li><br> bulk review confirmation pages</li>
      <li><a href="summary/bulk-action?bulk_action=approve">V2 Bulk approve confirmation</a><br></li>
      <li><a href="summary/bulk-action-over5?bulk_action=approve">V2 Bulk approve confirmation (if over 5 certificates)</a><br></li>
      <li><a href="summary/bulk_action_checkbox?bulk_action=approve">V3 Bulk approve confirmation with checkboxess</a><br></li>


        <li><br> Review page (individual review)</li>
      <li><a href="certificates/2849EHC/review-your-answers?status_2949=approved&return=dispatched-group&is_group=yes">Review your answers (changed)</a><br></li>
      <li><a href="certificates/2849EHC/review-your-answers?status_2949=approved&return=dispatched-group&is_group=yes#past-week">Review your answers - EXA TAB</a><br></li>
    </ul>
  </div>
</div>
{% endblock %}
