
{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="../certifier-multi-org-dashboard">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-xl">
          Review your answers
        </h1>

        <div class="govuk-details__text">
          <strong class="govuk-body govuk-!-font-weight-bold">
            Your application for a health certificate is now ready to be submitted.<br><br>
            Please check that the answers you've provided are correct.
          </strong>
        </div>

      <dl class="govuk-summary-list govuk- !-margin-bottom-9 govuk-summary-list__m">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What are you exporting?
          </dt>
          <dd class="govuk-summary-list__value">
              Bovine
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exa/your-commodity?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Create a reference number
          </dt>
          <dd class="govuk-summary-list__value">
              no reference

          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/reference?change=yes&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of certificates
          </dt>
          <dd class="govuk-summary-list__value">
              1
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/certificates?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-1">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Point of entry into the European Economic Area
          </dt>
          <dd class="govuk-summary-list__value">
            Bovine
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/export-destination?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Select the certifier practice to include with your application
          </dt>
          <dd class="govuk-summary-list__value">Barnyard Dawg Electra Way CW1 6GJ
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/certifier?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-4">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Select certificate delivery address
          </dt>
          <dd class="govuk-summary-list__value">Electra Way Crewe Business Park Crewe CW1 6GJ
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exa/certifier-confirm-address?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-5">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Delivery method
          </dt>
          <dd class="govuk-summary-list__value">1st class post
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exa/certifier-certificate-delevery?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-6">Change</a>
          </dd>
        </div>























          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Certification region
            </dt>
            <dd class="govuk-summary-list__value">

                England




            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=11&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=England">
                Change<span class="govuk-visually-hidden"> Certification region</span>
              </a>
            </dd>
          </div>





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planned date of certification
            </dt>
            <dd class="govuk-summary-list__value">

                <!-- updated with cloning storey -->

                  30 09 2019






            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=12&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=30 09 2019">
                Change<span class="govuk-visually-hidden"> Planned date of certification</span>
              </a>
            </dd>
          </div>





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Exporter name
            </dt>
            <dd class="govuk-summary-list__value">

                ABC ltd




            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=13&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=ABC ltd">
                Change<span class="govuk-visually-hidden"> Exporter name</span>
              </a>
            </dd>
          </div>





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Origin
            </dt>
            <dd class="govuk-summary-list__value">

                Great Britain




            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=14&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=Great Britain">
                Change<span class="govuk-visually-hidden"> Origin</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Earliest date of collection
            </dt>
            <dd class="govuk-summary-list__value">

                <!-- updated with cloning storey -->

                  20/10/2019






            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=14&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=20/10/2019">
                Change<span class="govuk-visually-hidden"> Earliest date of collection</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Latest date of collection
            </dt>
            <dd class="govuk-summary-list__value">

                <!-- updated with cloning storey -->

                  20/10/2019






            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=14&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=20/10/2019">
                Change<span class="govuk-visually-hidden"> Latest date of collection</span>
              </a>
            </dd>
          </div>





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Origin
            </dt>
            <dd class="govuk-summary-list__value">

                Great Britain




            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=15&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=Great Britain">
                Change<span class="govuk-visually-hidden"> Origin</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Earliest date of processing
            </dt>
            <dd class="govuk-summary-list__value">

                <!-- updated with cloning storey -->

                  29/10/2019






            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=15&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=29/10/2019">
                Change<span class="govuk-visually-hidden"> Earliest date of processing</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Latest date of processing
            </dt>
            <dd class="govuk-summary-list__value">

                <!-- updated with cloning storey -->

                  29/10/2019






            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=15&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=29/10/2019">
                Change<span class="govuk-visually-hidden"> Latest date of processing</span>
              </a>
            </dd>
          </div>





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planned export date
            </dt>
            <dd class="govuk-summary-list__value">

                <!-- updated with cloning storey -->

                  29/10/2019






            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=16&amp;next=check-your-answers-cloned&amp;update_field=&amp;update_answer=29/10/2019">
                Change<span class="govuk-visually-hidden"> Planned export date</span>
              </a>
            </dd>
          </div>



      </dl>

      <!-- GET BESPOKE EXA QUESTIONS -->





      <h2 class="govuk-heading-m">What is your import permit number and expiry date?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Import permit number
          </dt>
          <dd class="govuk-summary-list__value">

              003453232



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=1&amp;next=check-your-answers-cloned&amp;update_field=import_code&amp;update_answer=003453232">
              Change<span class="govuk-visually-hidden"> Import permit number </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expiry date
          </dt>
          <dd class="govuk-summary-list__value">

              <!-- updated with cloning storey -->

                01/02/2020





          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=1&amp;next=check-your-answers-cloned&amp;update_field=permit_date&amp;update_answer=01/02/2020">
              Change<span class="govuk-visually-hidden"> Expiry date</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">What is the origin of your product?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Species
          </dt>
          <dd class="govuk-summary-list__value">

              Bovine



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=2&amp;next=check-your-answers-cloned&amp;update_field=product_species&amp;update_answer=Bovine">
              Change<span class="govuk-visually-hidden"> Species</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of origin
          </dt>
          <dd class="govuk-summary-list__value">

              France



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=2&amp;next=check-your-answers-cloned&amp;update_field=product_country_origin&amp;update_answer=France">
              Change<span class="govuk-visually-hidden"> Country of origin</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">Where was the raw milk processed?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name, address and approval number of processing establishment
          </dt>
          <dd class="govuk-summary-list__value">

              ABC limited, France SA, Paris 039432. Registration number - FR3945-2342



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=3&amp;next=check-your-answers-cloned&amp;update_field=processing_raw_milk&amp;update_answer=ABC limited, France SA, Paris 039432. Registration number - FR3945-2342">
              Change<span class="govuk-visually-hidden"> Name, address and approval number of processing establishment</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">Where was the export product processed?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name, address and approval number of processing establishment
          </dt>
          <dd class="govuk-summary-list__value">

              ABC limited UK, Wendsbury, BM1 3XE (UK.HD.323.323)



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=4&amp;next=check-your-answers-cloned&amp;update_field=processing_export_product&amp;update_answer=ABC limited UK, Wendsbury, BM1 3XE (UK.HD.323.323)">
              Change<span class="govuk-visually-hidden"> Name, address and approval number of processing establishment</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">What are the details of your final product?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description of the product
          </dt>
          <dd class="govuk-summary-list__value">

              Coffee flat white, Coffee skinny capp,Coffee creamy



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=5&amp;next=check-your-answers-cloned&amp;update_field=product_details&amp;update_answer=Coffee flat white, Coffee skinny capp,Coffee creamy">
              Change<span class="govuk-visually-hidden"> Description of the product</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">What are the consignment details?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type and number of packages
          </dt>
          <dd class="govuk-summary-list__value">

              8544 cases



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=6&amp;next=check-your-answers-cloned&amp;update_field=consignment_package-number&amp;update_answer=8544 cases">
              Change<span class="govuk-visually-hidden"> Type and number of packages</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Net weight
          </dt>
          <dd class="govuk-summary-list__value">

              9262.6kg



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=6&amp;next=check-your-answers-cloned&amp;update_field=consignment_net_weight&amp;update_answer=9262.6kg">
              Change<span class="govuk-visually-hidden"> Net weight</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Identification marks
          </dt>
          <dd class="govuk-summary-list__value">





          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=6&amp;next=check-your-answers-cloned&amp;update_field=consignment_id_marks&amp;update_answer=">
              Change<span class="govuk-visually-hidden"> Identification marks</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of manufacture
          </dt>
          <dd class="govuk-summary-list__value">

              <!-- updated with cloning storey -->

                Janet Barrow, ABC limited UK., 16 Edenhurst ave, SW6 5ED





          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=6&amp;next=check-your-answers-cloned&amp;update_field=consignment_manufacture_date&amp;update_answer=Janet Barrow, ABC limited UK., 16 Edenhurst ave, SW6 5ED">
              Change<span class="govuk-visually-hidden"> Date of manufacture</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">What are the details of the exporter?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name and address of exporter
          </dt>
          <dd class="govuk-summary-list__value">





          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=7&amp;next=check-your-answers-cloned&amp;update_field=exporter_details_address&amp;update_answer=">
              Change<span class="govuk-visually-hidden"> Name and address of exporter</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">What is the means of transportation?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Means of transportation
          </dt>
          <dd class="govuk-summary-list__value">

              Sea freight



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=8&amp;next=check-your-answers-cloned&amp;update_field=transport_means&amp;update_answer=Sea freight">
              Change<span class="govuk-visually-hidden"> Means of transportation</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Shipping marks
          </dt>
          <dd class="govuk-summary-list__value">





          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=8&amp;next=check-your-answers-cloned&amp;update_field=transport_seal_number&amp;update_answer=">
              Change<span class="govuk-visually-hidden"> Shipping marks</span>
            </a>
          </dd>
        </div>

      </dl>



      <h2 class="govuk-heading-m">Who is receiving the product?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name and address of consignee
          </dt>
          <dd class="govuk-summary-list__value">

              ABC limited Australia, 637 Rowley Street, Melbourne, CIC2002



          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=9&amp;next=check-your-answers-cloned&amp;update_field=consignee_details&amp;update_answer=ABC limited Australia, 637 Rowley Street, Melbourne, CIC2002 ">
              Change<span class="govuk-visually-hidden"> Name and address of consignee</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name and contact number of consignee representative
          </dt>
          <dd class="govuk-summary-list__value">





          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id=9&amp;next=check-your-answers-cloned&amp;update_field=consignee_representive&amp;update_answer=">
              Change<span class="govuk-visually-hidden"> Name and contact number of consignee representative</span>
            </a>
          </dd>
        </div>

      </dl>
















      <!-- {Tasks -->
      </div>
        <div class="govuk-grid-column-full margin-bottom-15">
          <div class="govuk-grid-row govuk-!-font-weight-bold margin-bottom-15">
            <h1 class="govuk-heading-m">Supporting documents</h1>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-body govuk-!-margin-0">
              {% if data.has_uploaded_files != "yes"%}
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File name
                      </div>
                      <div class="govuk-grid-column-three-quarters">
                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-three-quarters wrap" id="file_0">
                            No documents uploaded
                          </div>
                          <div class="govuk-grid-column-one-quarter align-right"><a href="supporting-documents" id="change_file_0" class="govuk-link">Change</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File
                        description
                      </div>
                      <div class="govuk-grid-column-three-quarters wrap" id="description_0">

                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File name
                    </div>
                    <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters wrap" id="file_0">
                          test_support.docx
                        </div>
                        <div class="govuk-grid-column-one-quarter align-right"><a href="supporting-documents-uploaded" id="change_file_0" class="govuk-link">Change</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File
                      description
                    </div>
                    <div class="govuk-grid-column-three-quarters wrap" id="description_0">
                      {{data.file_description}}
                    </div>
                  </div>
                </div>
              </div>


              {% endif %}
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-warning-text">
            <span class="icon icon-file-download"></span>
            <span class="govuk-visually-hidden">File download</span>
            <strong class="govuk-body govuk-!-font-weight-regular">Preview your answers in a <a href="/protected/form/8270EHC/application/1721147992687/preview" data-qa-id="Link-PreviewCertificate" target="_blank" class="govuk-link">specimen certificate</a>.</strong>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div>
            <form  method="POST">
              <input type="hidden" name="certificate" value="a49890fe-79d0-e911-a982-000d3ab6a5e0">
              <input type="hidden" name="crumb_csrf_token" value="iPCPTvJUeOWpwzfyGMAuuzwnFDrzrao8BPMCTQ88C7q">
              <input type="hidden" name="applicationFormStatus" value="">
              <a href="../../certifier-record-decision?return=case-certifier-dispatched" class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">Continue</a>
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
