{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{{super()}}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div>
          <h1 id="questionPageHeading" class="govuk-heading-xl margin-bottom-20">How will the consignment be packaged?</h1>
          <span id="questionPageSubtitle" class="govuk-caption-xl"></span>
          <p>
            </p><form action="review-your-answers" method="POST" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="crumb_csrf_token" value="iPCPTvJUeOWpwzfyGMAuuzwnFDrzrao8BPMCTQ88C7q">


            <!-- @formatter:off -->
            <div class="govuk-form-group ">
              <label class="govuk-label govuk-!-font-weight-bold" for="8270EHC-0">Total number of packages in the consignment (optional)</label>
              <input class="govuk-input form-control-3-4" id="8270EHC-0" name="0" value="" type="text" data-qa-id="Question-8270EHC-0">
            </div>
            <input type="hidden" name="0-formQuestionId" value="7854">
            <input type="hidden" name="0-questionId" value="589">
            <input type="hidden" name="0-formName" value="8270EHC">
            <input type="hidden" name="0-questionText" value="Total number of packages in the consignment (optional)">
            <input type="hidden" name="0-questionType" value="text">
            <input type="hidden" name="0-questionOrder" value="1">
            <input type="hidden" name="0-questionScope" value="BOTH">
            <input type="hidden" name="questionSequence-7854" value="0">            <div class="govuk-form-group ">
              <label class="govuk-label govuk-!-font-weight-bold" for="8270EHC-1">Type of packaging (optional)</label>
              <div class="govuk-hint">For example Box, Carton, Crate etc.</div>
              <input class="govuk-input form-control-3-4" id="8270EHC-1" name="1" value="" type="text" data-qa-id="Question-8270EHC-1">
            </div>
            <input type="hidden" name="1-formQuestionId" value="7855">
            <input type="hidden" name="1-questionId" value="590">
            <input type="hidden" name="1-formName" value="8270EHC">
            <input type="hidden" name="1-questionText" value="Type of packaging (optional)">
            <input type="hidden" name="1-questionType" value="text">
            <input type="hidden" name="1-questionOrder" value="2">
            <input type="hidden" name="1-questionScope" value="BOTH">
            <input type="hidden" name="questionSequence-7855" value="1">            <!-- @formatter:on -->
              <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="2">
              <div class="govuk-grid-row margin-top-30"></div>
              <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-body">
                  <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
                </div>
              </div>

            </form>

          <p></p>
        </div>
      </div>
    </div>
{% endblock %}
