{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your confirmation has been submitted</h1>
    <p class="govuk-body">
      You will be able to use this service as soon as your registration has been processed by APHA.
    </p>
    <p class="govuk-body">If you need to speak to somebody about your access to this service,
      <a class="govuk-link" href="#">
        do something here</a></p>
  </div>
</div>



{% endblock %}
