
{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-xl">
          Review your answers
        </h1>

        <div class="govuk-details__text">
          <strong class="govuk-body govuk-!-font-weight-bold">
            Your application for a health certificate is now ready to be submitted.<br><br>
            Please check that the answers you've provided are correct.
          </strong>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="specific-commodity-question">
              What are you exporting?
            </td>
            <td class="govuk-table__cell" scope="row" id="specific-commodity-answer">
              CRAB
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/choose-commodity" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-5-question">Number of certificates
            </td>
            <td class="govuk-table__cell" scope="row" id="0-answer">1
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-question">Select the certifier practice to include with your application
            </td>
            <td class="govuk-table__cell" scope="row" id="1-answer">ADM ACCOUNTING LIMITED Hornbeam House  CW12 3ER
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2/organisation-search" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-1">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-question">Select certificate delivery address
            </td>
            <td class="govuk-table__cell" scope="row" id="2-answer">Hornbeam House Electra Way Crewe CW12 3ER
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2/certificate-delivery-address" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4540-question">What is the name of the exporter?
            </td>
            <td class="govuk-table__cell" scope="row" id="3-answer">me
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4541-question">In which region will the certification take place?
            </td>
            <td class="govuk-table__cell" scope="row" id="4-answer">Scotland
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4542-question">What is the planned export date of the consignment?
            </td>
            <td class="govuk-table__cell" scope="row" id="5-answer">2019-08-02
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4543-question">What is the planned date of certification? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="6-answer">2019-08-02
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4544-question">How would you like the certificate to be delivered?
            </td>
            <td class="govuk-table__cell" scope="row" id="7-answer">Email
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4673-question">What is the product that is being exported? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="8-answer">brown crab / cancer fagurus
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/1?selectedQuestion=4673" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-8">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4674-question">How many packages are in the consignment? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="9-answer">37
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/1?selectedQuestion=4674" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-9">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4675-question">What is the net weight of the consignment? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="10-answer">555kg
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/1?selectedQuestion=4675" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-10">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4676-question">Species (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="11-answer">brown crab / cancer fagurus
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4676" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-11">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4696-question">What is the type of packaging? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="12-answer">polystyrene box
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4696" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-12">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4677-question">Number of packages for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="13-answer">37
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4677" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-13">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4697-question">Net weight for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="14-answer">555kg
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4697" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-14">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4678-question">What are the dates of production of the product? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="15-answer">31/03/2019
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4678" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-15">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4679-question">Were the animals aquacultured? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="16-answer">No
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4679" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-16">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4680-question">Aquaculture area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="17-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4680" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-17">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4681-question">Were the animals wild caught? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="18-answer">Yes
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4681" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-18">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4682-question">Catch area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="19-answer">yes, fao 27, iva 44e8, iva 44e7, ivb 43e8, ivb 43e7, ivb 42e7, ivb 42e8
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4682" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-19">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4676-question">Species (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="20-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4676&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-20">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4696-question">What is the type of packaging? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="21-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4696&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-21">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4677-question">Number of packages for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="22-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4677&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-22">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4697-question">Net weight for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="23-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4697&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-23">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4678-question">What are the dates of production of the product? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="24-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4678&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-24">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4679-question">Were the animals aquacultured? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="25-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4679&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-25">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4680-question">Aquaculture area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="26-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4680&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-26">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4681-question">Were the animals wild caught? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="27-answer">Yes
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4681&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-27">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4682-question">Catch area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="28-answer">ivb 41e7, ivb 41e8, ivb 40e8, ivb 40e9, ivb 39e8, ivb 39e9
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4682&amp;pageOccurrence=1" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-28">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4676-question">Species (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="29-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4676&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-29">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4696-question">What is the type of packaging? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="30-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4696&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-30">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4677-question">Number of packages for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="31-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4677&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-31">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4697-question">Net weight for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="32-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4697&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-32">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4678-question">What are the dates of production of the product? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="33-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4678&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-33">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4679-question">Were the animals aquacultured? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="34-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4679&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-34">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4680-question">Aquaculture area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="35-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4680&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-35">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4681-question">Were the animals wild caught? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="36-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4681&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-36">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4682-question">Catch area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="37-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4682&amp;pageOccurrence=2" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-37">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4676-question">Species (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="38-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4676&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-38">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4696-question">What is the type of packaging? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="39-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4696&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-39">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4677-question">Number of packages for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="40-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4677&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-40">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4697-question">Net weight for this part of the consignment (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="41-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4697&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-41">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4678-question">What are the dates of production of the product? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="42-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4678&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-42">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4679-question">Were the animals aquacultured? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="43-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4679&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-43">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4680-question">Aquaculture area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="44-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4680&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-44">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4681-question">Were the animals wild caught? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="45-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4681&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-45">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4682-question">Catch area (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="46-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/2?selectedQuestion=4682&amp;pageOccurrence=3" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-46">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4683-question">What is the name and address of the exporter?
            </td>
            <td class="govuk-table__cell" scope="row" id="47-answer">the cancer fagurus company (Scotland) ltd, 18-90 oceanview, Peterhead, ab34, 8ty
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/3?selectedQuestion=4683" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-47">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4684-question">Packaging premises (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="48-answer">the cancer fagurus company (Scotland) ltd, ukbbbbbb6789
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/3?selectedQuestion=4684" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-48">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4685-question">Packaging date (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="49-answer">2019-04-01
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/3?selectedQuestion=4685" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-49">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4686-question">Production premises (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="50-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/4?selectedQuestion=4686" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-50">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4687-question">Production date (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="51-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/4?selectedQuestion=4687" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-51">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4688-question">What is the means of transport? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="52-answer">air freight
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/5?selectedQuestion=4688" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-52">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4689-question">Identification of the transport (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="53-answer">asda1234
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/5?selectedQuestion=4689" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-53">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4690-question">Arrival port/airport (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="54-answer">china guangzhou airport
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/5?selectedQuestion=4690" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-54">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4691-question">What are the shipping marks on the consignment? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="55-answer">numbered box 1 to 37
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/5?selectedQuestion=4691" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-55">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4692-question">What is the name and address of the consignee? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="56-answer">humpty dumpty technology (Beijing) co., ltd 789 of building 56, no.90 jyijgeung mid st, tongzhou district, Beijing 101102, china - nhjm 9876 0987  0987 8765 7h
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/6?selectedQuestion=4692" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-56">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4693-question">What is the name of the certifying official? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="57-answer">henry fullet
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/7?selectedQuestion=4693" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-57">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4694-question">Business address of certifying official (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="58-answer">Scottish council, environmental health dept, Hubert house, st Philip street, Peterhead, ab12 0qw
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/7?selectedQuestion=4694" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-58">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="4695-question">When will the certificate be issued? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="59-answer">2019-08-01
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7432EHC/application/1721147988469/page/7?selectedQuestion=4695" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-59">Change</a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="govuk-grid-column-full margin-bottom-15">
          <div class="govuk-grid-row govuk-!-font-weight-bold margin-bottom-15">
            <h1 class="govuk-heading-m">Supporting documents</h1>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-body govuk-!-margin-0">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File name
                    </div>
                    <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters wrap" id="file_0">
                          No documents uploaded
                        </div>
                        <div class="govuk-grid-column-one-quarter align-right"><a href="/protected/form/7432EHC/application/1721147988469/supplementary-documents" id="change_file_0" class="govuk-link">Change</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File
                      description
                    </div>
                    <div class="govuk-grid-column-three-quarters wrap" id="description_0">

                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-warning-text">
            <span class="icon icon-file-download"></span>
            <span class="govuk-visually-hidden">File download</span>
            <strong class="govuk-body govuk-!-font-weight-regular">Preview your answers in a <a href="/protected/form/7432EHC/application/1721147988469/preview" data-qa-id="Link-PreviewCertificate" target="_blank" class="govuk-link">specimen certificate</a>.</strong>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div>
            <form action="review" method="POST">
              <input type="hidden" name="certificate" value="ad7a069d-89b3-e911-a97e-000d3ab6a509">
              <input type="hidden" name="crumb_csrf_token" value="00cjWOe9i6sG-GzHQk_xVluLrDo3gxDb_D55s1NT9HE">
              <input type="hidden" name="applicationFormStatus" value="">
              <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
