{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
{% if data.orgs=="multi"%}
{% block navadmin %}{% include "../includes/nav-admin.html" %}{% endblock %}
{% else %}
{% block navadminSingle %}{% include "../includes/nav-admin-single.html" %}{% endblock %}
{% endif %}
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../dashboard">Back</a>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Manage case 19/921
        </h1>
        <!-- <div class="defra-alert defra-alert--info ">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">1 certificate has been replaced </h3>
        <p class="govuk-body">You can still clone this certificate. We'll adapt the information from the old version to fit the new form, but there may be new changes or changed questions. <br></p>
      </div> -->
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              EHC
            </dt>
            <dd class="govuk-summary-list__value">
              Export dairy and dairy products to Australia:
              6969EHC
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              Exporter
            </dt>
            <dd class="govuk-summary-list__value">
              	Bob Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              Destination
            </dt>
            <dd class="govuk-summary-list__value">
              Australia
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              Proposed Export Date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__40">
              	02 Aug 2019
            </dd>
          </div>
        </dl>
    </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Certificates</h2>
      <form id="table-select-certificates" action="#">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Certificate
              </th>
              <th class="govuk-table__header">Actual Export Date</th>
              <th class="govuk-table__header">Certificate Status</th>
              <th class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody>

            <tr class="govuk-table__row">
              <td id="cert-num" class="govuk-table__cell" scope="row"><span class="govuk-status govuk-status--warning">pending replacement</span>&nbsp;&nbsp;19/2/00869<br>
                <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">Requested to cancel and replace on 2 Dec 2019</span>
              </td>
              <td id="actual-export-date" class="govuk-table__cell" scope="row">
                02 Aug 2019
              </td>
              <td id="status" class="govuk-table__cell" scope="row">CERTIFIED
              <td id="actions" class="govuk-table__cell" scope="row">
                <!-- <a id="view_cert_19/2/008722" href="/public/images/ehc-6969ehc-8.1.pdf"  rel="noreferrer noopener" target="_blank">
                  View replacement
                </a>
                <br>-->
                <a id="view_cert_19/2/008722" href="/public/images/ehc-6969ehc-8.1.pdf"  rel="noreferrer noopener" target="_blank">
                  View certificate
                </a>
                <br>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="govuk-body govuk-!-margin-top-8 govuk-!-font-size-16">
        <a href="case-replaced?cert_id={{query.cert_id or 14}}&destination={{query.destination}}&ehc=6969EHC&update_status=replaced&duplicate_case=yes">PROTOTYPE ONLY: approve cancellation</a>
        <br><a href="case-completed?cert_id={{query.cert_id or 14}}&destination={{query.destination}}&ehc=6969EHC&update_status=certified&request_rejected=yes">PROTOTYPE ONLY: reject cancellation</a></p>
      </form>
    </div>
  </div>


{% endblock %}
