  {% extends "layout.html" %}

  {% block pageTitle %}
  Exports application - GOV.UK
  {% endblock %}

  {% block beforeContent %}
  <!-- call the same block in the main layout file -->
  {{super()}}
  <!-- add admin navbar from includes folder -->
  <!-- back button -->
  <div>
    <a class="govuk-back-link" id="link-back" href="../certifier-{{data.orgs or 'single'}}-org-dashboard">Back</a>
  </div>
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              You have successfully requested to replace certificate 19/2/008723
            </h1>

            <div class="govuk-panel__body">
              Your reference number is <br>
              <strong class="bold" id="applicationFormId" data-qa-id="TextDisplay-CVEDReferenceNumber">1651966034932</strong>
            </div>
          </div>
          </div>
            </div>
          <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">What happens next</h3>

          <p class="govuk-body">Our team will check the information you gave us and process this request.</p>

          <p class="govuk-body">If we do not find any problems with your request, we will dispatch a replacement certificate within 24 hours. You will receive an email when we dispatch the certificate.</p>

          <p class="govuk-body">If there are problems with your request, we will contact you.</p>


            <h3 class=govuk-heading-m>Get help</h3>
            <p class="govuk-body">If you need help, contact us quoting your APHA reference number <strong>1651966034932</strong>. </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>03000 200 301, Monday to Friday 8.30am to 5pm
                <li><a href="mailto:ssc.carlisle@apha.gov.uk">ssc.carlisle@apha.gov.uk</a> </li>
                </ul>
            <form method="POST">
            <p class="govuk-body">
                <button type="submit" id="link-returnToHome" class="govuk-button">
                  Return to your cases
                </button>
              </p>
            </form>
          </div>
        </div>
      </div>
  {% endblock%}
