.das-card--row {
  margin-right: -10px;
margin-left: -10px;
.govuk-grid-column-one-third{
  padding: 0 10px;
}
}
.das-card{
  background-color: #ffffff;
  border: 1px solid  $govuk-border-colour;
  margin-bottom: 20px;
  overflow: hidden;

  &.das-card--error{
    border-color:$govuk-error-colour;
    border-width: 3px;
  }
  &.das-card--inactive{
    background-color: #f8f8f8;
  }

  .das-card--content{
    padding: 20px;
  }
  .das-card--heading{
    margin-bottom: 10px;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    a:visited{
      color: #005ea5;
    }
  }
  .das-card--stat{
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
  @media (min-width: 48.0525em){
    .das-card--stat{
      display:block;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25;
    }

  }

  .das-card--description, .das-card--hint{
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
  .das-card--hint{
    color:  $govuk-secondary-text-colour;
  }
  .das-card--tasks{
    li{
          a{
            font-size: 16px;
            font-size: 1rem;
            line-height: 1.25;

          }
          a:visited{
            color: #005ea5;
          }
    }
  }
}
