.app-card--row {
  margin-right: -10px;
margin-left: -10px;
.govuk-grid-column-one-third{
  padding: 0 10px;
}
}
.app-card{
  background-color: #ffffff;
  border: 1px solid  $govuk-border-colour;
  margin-bottom: 20px;


  &.app-card--error{
    border-color:$govuk-error-colour;
    border-width: 3px;
  }
  &.app-card--inactive{
    background-color: #f8f8f8;
  }

  .app-card--content{
    padding: 20px;
    flex: 1;
  }
  .app-card--heading{
    margin-bottom: 10px;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    a:visited{
      color: #005ea5;
    }
  }
  .app-card--stat{
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
  @media (min-width: 48.0525em){
    .app-card--stat{
      display:block;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25;
    }

  }

  .app-card--description, .app-card--hint{
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
  .app-card--hint{
    color:  $govuk-secondary-text-colour;
  }
  .app-card--tasks{
    li{
          a{
            font-size: 16px;
            font-size: 1rem;
            line-height: 1.25;
          }
          a:visited{
            color: #005ea5;
          }
    }
  }
}
@media (min-width: 48.0525em){
  min-height: 175px;
}
