.govuk-notification-banner {
  margin-bottom: 50px;
}
.govuk-notification-banner {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
}
.govuk-notification-banner {
  font-family: "nta",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 30px;
  border: 5px solid #1d70b8;
  background-color: #fff;
  
}
.govuk-notification-banner__header {
  padding: 2px 20px 5px;
}
.govuk-notification-banner__header {
  padding: 2px 15px 5px;
  border-bottom: 1px solid transparent;
  background-color: #1d70b8;
}
.govuk-notification-banner__heading {
  font-family: "nta",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.1875rem;
  line-height: 1.31579;
  margin: 0 0 15px 0;
  padding: 0;
}
.govuk-notification-banner {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
}
.govuk-notification-banner {
  font-family: "nta",arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

.govuk-notification-banner__title {
  font-family: "nta",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1875rem;;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  color: #fff;
}
.govuk-notification-banner__content {
  margin: 20px;
  padding: 20px;
  max-width:605px;
  color: #0b0c0c;
  background-color: #fff;
}