{% extends "layout.html" %}
{% block pageTitle %}
Exports application - GOV.UK
{% endblock %}
{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-{{data.orgs or 'single'}}-org-dashboard">Back</a>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Do you need to replace this certificate?
    </h1>
    <p class="defra-alert defra-alert--info">If you still have the certificate, contact the importing country. They might accept an amended certified copy of the certificate, and you will not need to request a replacement.</p>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">If the consignment and the certificate have left the UK</h2>
    <p class="govuk-body">You can request to replace the certificate.</p>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">If hand written changes are allowed</h2>
    <p class="govuk-body">If the certificate does not have to be fully typed, you can amend the certificate and send it with the consignment.</p>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">If hand written changes are not allowed</h2>
    <p class="govuk-body">You will need to request a replacement certificate. Make sure you include a written request from the importing country for the replacement along with your application.</p>

       <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        APHA does not automatically replace certificates
      </strong>
    </div>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">APHA will not replace a certificate if:</h2>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>the certificate has not been certified</li>
      <li>the certificate is with the consignment, but it has not left the UK</li>
      <li>you are allowed to amend the certificate by hand</li>
    </ul>
    <!-- <h3 class="govuk-heading-m">Is this certificate eligible to be replaced?</h3> -->
    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_clone" name="application_rule_confirm" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes, the certificate meets APHA's criteria for replacement
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="application_rule_confirm" type="radio" value="no" data-aria-controls="address-radios-conditional">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <p class="govuk-body"><a class="govuk-link" href="../summary/case-completed">Cancel request</a></p>
    </form>
  </div>
</div>
{% endblock %}
