{% extends "layout.html" %}
{% block pageTitle %}
Exports application - GOV.UK
{% endblock %}
{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-{{data.orgs or 'single'}}-org-dashboard">Back</a>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Request a replacement certificate
    </h1>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">If the consignment and the certificate have left the UK</h2>
    <p class="govuk-body">If hand written changes are allowed, amend and stamp the certified copy and include a letter on headed practice paper explaining why you have made the change. If you have any correspondence from the importing country via the importer, include that as well. </p>
    <p class="govuk-body">If hand written changes are not allowed, and you need to make a change to the certificate, you can request a replacement certificate.</p>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">If the consignment and the certificate has not left the UK
</h2>
    <p class="govuk-body">If you still have the certificate and hand written changes are allowed, contact the importer. They can check whether an amended certified copy of the certificate is allowed, and you may not need to request a replacement.
</p>

       <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        APHA does not automatically replace certificates
      </strong>
    </div>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">APHA will not replace a certificate if:</h2>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>the certificate has not been certified</li>
      <li>the certificate is with the consignment, but it has not left the UK</li>
      <li>the certificate is lost in the post to certifier</li>
      <li>you can make hand written changes</li>
    </ul>
    <!-- <h3 class="govuk-heading-m">Is this certificate eligible to be replaced?</h3> -->
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Can you request to replace this certificate?
</h2>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_clone" name="application_rule_confirm" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes, the certificate meets APHA's criteria for replacement
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="application_rule_confirm" type="radio" value="no" data-aria-controls="address-radios-conditional">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <p class="govuk-body"><a class="govuk-link" href="../summary/case-completed">Cancel request</a></p>
    </form>
  </div>
</div>
{% endblock %}
