{% extends "layout.html" %}
{% block pageTitle %}
Exports application - GOV.UK
{% endblock %}
{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-{{data.orgs or 'single'}}-org-dashboard">Back</a>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Request a replacement certificate
    </h1>

    <p class="govuk-body-l">Ask for a replacement certificate for a consignment that has been certified and left the UK</p>

    <p>You do not need to request a replacement certificate if the importing country allows you to make handwritten changes.</p>

    <p>If you can make handwritten changes:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>make any changes you need to the certificate</li>
      <li>stamp and initial those changes</li>
    </ul>

    <p>Then, give it to the exporter along with:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>a letter on headed paper explaining why you made the change</li>
      <li>any correspondence from the importing country</li>
    </ul>

    <p>If you cannot make handwritten changes, request a replacement certificate.</p>

    <!-- <h3 class="govuk-heading-m">Is this certificate eligible to be replaced?</h3> -->
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Can you request to replace this certificate?
</h2>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_clone" name="application_rule_confirm" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes, the certificate meets APHA's criteria for replacement
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="application_rule_confirm" type="radio" value="no" data-aria-controls="address-radios-conditional">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <p class="govuk-body"><a class="govuk-link" href="../summary/case-completed">Cancel request</a></p>
    </form>
  </div>
</div>
{% endblock %}
