{% extends "layout.html" %}

{% block pageTitle %}
Exports application - GOV.UK
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-{{data.orgs or 'single'}}-org-dashboard">Back</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    What certificates can be replaced
    </h1>

      <p class="govuk-body">To successfully replace a certificate it must follow the following criteria. </p>

        <p class="govuk-body">The shimpment has not left yet</p>
    <ul class="govuk-list govuk-list--bullet">
   <li>Certificate is lost and it needs to be printed on crown gold paper.</li>
   <li>Make amends to a certificate printed on crown gold paper that cannot be amended by hand. </li>

   </ul>
   <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
      we only accept requests for certificates that cannot be amended by hand
  </strong>
</div>
   <p class="govuk-body">The shimpment is in transit or already landed</p>
   <ul class="govuk-list govuk-list--bullet">
   <li> The shipment got diverted to a different port and the certificate needs to be printed on crown gold paper</li>
</ul>
    <h3 class="govuk-heading-m">Can this certificate be replaced following the above rules?</h3>
    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_clone" name="application_rule_confirm" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes, I confirm it follows the above rules
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="application_rule_confirm" type="radio" value="no" data-aria-controls="address-radios-conditional">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No
              </label>
            </div>
            </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <p class="govuk-body"><a class="govuk-link" href="../summary/case-completed">Do not replace this certificate</a></p>
    </form>
  </div>
</div>



{% endblock %}
