{% extends "layout.html" %}
{% block pageTitle %}
Export Health Certificate

{% endblock %}
{% block beforeContent%}
{{super()}}


<div class="govuk-width-container">
 <div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName"></li>
    <li class="login-nav__list-item"> | <a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{{ govukBackLink({
  "text": "Back",
  "href": "javascript: window.history.go(-1)"
})}}
</div>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="review-form" method="POST">
      <input type="hidden" name="crumb_csrf_token" value="ccMVX1E_RnHV8mCEX98N_SOaG8X4_N-dzQ0PStSpFRz"/>
      {{ govukRadios({
        idPrefix: "proceedCancelAndReplace",
        name: "cancelAndReplaceDecision",
        fieldset:
        {
          legend:
          {
            text: "Has the consignment already left the UK?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "proceedCancelAndReplace",
          text: "Yes"
        },
        {
          value: "cancelCancelAndReplace",
          text: "No"
        }
        ]
      }) }}

      <input class="govuk-button" type="submit" name="continue" value="Continue" id="CancelAndReplace-Continue" data-qa-id="Button-cancelAndReplaceContinue"/>

      <p class="govuk-body">
        <a class="govuk-link" href="index" id="cancelRequest">Cancel
        request</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
