{% extends "layout.html" %}

{% block pageTitle %}
Exports application - GOV.UK
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-{{data.orgs or 'single'}}-org-dashboard">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You have successfully submitted your request to replace certificate {{data.certificate_id or '12/12314'}}
          </h1>


        </div>
        </div>
          </div>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What happens next</h3>
        <ol class="govuk-list govuk-list--number">
          <li>Our team will check the information you gave us and decide if we can issue a new certificate:</li>
          <li>if we can, we will send the new certificate to you</li>
          <li>if we cannot, we will contact you and the exporter to let you know why</li>
          </ol>
          <h3 class=govuk-heading-m>Get help</h3>
          <p class="govuk-body">If you need help, contact us:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>03000 200 301, Monday to Friday 8.30am to 5pm</li>
              <li><a href="exports@apha.gov.uk">exports@apha.gov.uk</a> </li>
              </ul>
          <form method="POST">
          <p class="govuk-body">
              <button type="submit" id="link-returnToHome" class="govuk-button">
                Return to your cases
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
{% endblock%}
