{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
{% if data.orgs=="multi"%}
{% block navadmin %}{% include "../includes/nav-admin.html" %}{% endblock %}
{% else %}
{% block navadminSingle %}{% include "../includes/nav-admin-single.html" %}{% endblock %}
{% endif %}
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../dashboard">Back</a>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Manage case {{data.case_id or '19/921'}}
        </h1>
        <!-- <div class="defra-alert defra-alert--info ">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">1 certificate has been replaced </h3>
        <p class="govuk-body">You can still clone this certificate. We'll adapt the information from the old version to fit the new form, but there may be new changes or changed questions. <br></p>
      </div> -->
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              EHC
            </dt>
            <dd class="govuk-summary-list__value">
              Export dairy and dairy products to Australia:
              6969EHC
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              Exporter
            </dt>
            <dd class="govuk-summary-list__value">
              	Bob Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              Destination
            </dt>
            <dd class="govuk-summary-list__value">
              Australia
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__40">
              Proposed export date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__40">
              	02 Aug 2019
            </dd>
          </div>
        </dl>
    </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Certificates</h2>
      <form id="table-select-certificates" action="#">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Certificate
              </th>
              <th class="govuk-table__header">Actual export date</th>
              <th class="govuk-table__header">Certificate status</th>
              <th class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody>

            <tr class="govuk-table__row">
              <td id="cert-num" class="govuk-table__cell" scope="row"><span class="govuk-status govuk-status--warning">Replaced</span>&nbsp;&nbsp;19/2/00869<br>
                <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">This certificate replaced <a href="case-new">19/2/00872</a> and has been replaced by <a href="case-new">20/2/34343</a>  </span>
              </td>
              <td id="actual-export-date" class="govuk-table__cell" scope="row">
                02 Aug 2019
              </td>
              <td id="status" class="govuk-table__cell" scope="row">CANCELLED
              <td id="actions" class="govuk-table__cell" scope="row">
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>


{% endblock %}
