{% extends "layout.html" %}
{% block pageTitle %}
Check your answers
{% endblock %}
{% block beforeContent %}
<style media="screen">
  .download-a-document-container {
  padding-bottom: 0px;
}
@media (min-width: 641px) {
  .download-a-document-container {
    padding-bottom: 10px;
  }
}
.defra-alert--no-border{
  border-width:0;
}
.download-a-document {
  margin-bottom:40px;
}
.download-a-document:after {
  content: "";
  display: block;
  clear: both;
}
.download-a-document-image {
  display:block;
  float:left;
  overflow:hidden;
  margin-right:20px;
}
.download-a-document-content {
  font-size: 16px;
  font-weight: normal;
  display: inline-grid;
}
.download-a-document-section-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.download-a-document-section-2 {
  display: block;
}

</style>
<a class="govuk-back-link" href="../certifier-multi-org-dashboard">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Review these answers for certificate 20/23432
      <span class="govuk-caption-l">Exporter's certificate reference: Tiger roll</span>
    </h1>
    <p class="download-a-document">
      <span class="download-a-document-image"><img class="" src="/public/images/icon-file-download.png" alt="your answers in a specimen certificate"><span class="govuk-visually-hidden">File download</span></span>
      <strong><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank" data-qa-id="Link-PreviewCertificate" class="govuk-link">Preview these answers in a specimen certificate</a> (PDF, 23KB)
        <br>(opens in a new tab)</strong>
    </p>
    <div class="govuk-tabs" data-module="tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#ehc-tab">
            Certificate information
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#attachment-tab">
            Attachments (5)
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#exa-tab">
            APHA processing information
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="ehc-tab">
        <h2 class="govuk-heading-l">Information for the export health certificate</h2>
        <h3 class="govuk-heading-m">About the horse</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Tiger Roll
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=1&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Horse name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Breed
            </dt>
            <dd class="govuk-summary-list__value">
              thoroughbred
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=1&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Breed</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Age
            </dt>
            <dd class="govuk-summary-list__value">
              2015
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=1&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Age</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Colour
            </dt>
            <dd class="govuk-summary-list__value">
              Black
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=1&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Colour</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Sex
            </dt>
            <dd class="govuk-summary-list__value">
              stallion
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=1&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Identification</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Method of identification
            </dt>
            <dd class="govuk-summary-list__value">
              Passport
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=2&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Method of identification </span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Passport number
            </dt>
            <dd class="govuk-summary-list__value">
              13234213412
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=2&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Passport number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Passport issuer
            </dt>
            <dd class="govuk-summary-list__value">
              UK
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=2&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Passport issuer</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Origin</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Name and address of the owner
            </dt>
            <dd class="govuk-summary-list__value">
              24 The Grove
              DARTFORD
              DA51 2XQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=3&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Name and address of the owner</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Exporter and examination</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Name and address of exporter
            </dt>
            <dd class="govuk-summary-list__value">
              24 The Grove
              DARTFORD
              DA51 2XQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=4&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Name and address of exporter</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Address of the premises of examination
            </dt>
            <dd class="govuk-summary-list__value">
              24 The Grove
              DARTFORD
              DA51 2XQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=4&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Address of the premises of examination</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Transport and destination</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              How will the horse be transported?
            </dt>
            <dd class="govuk-summary-list__value">
              Airplane ZZ1234
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=6&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> How will the horse be transported?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Address of destination
            </dt>
            <dd class="govuk-summary-list__value">
              Box No. 56487, Dubai, 56487
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=6&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Address of destination</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key ">
              Name and address of consignee
            </dt>
            <dd class="govuk-summary-list__value">
              DUBAI RACE TRACK, Box No. 56487, Dubai, 56487
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="page?id=6&amp;next=check-your-answers-ehc&amp;confirm=yes&amp;change=yes">
                Change<span class="govuk-visually-hidden"> Name and address of consignee</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="govuk-tabs__panel" id="attachment-tab">

                <h2 class="govuk-heading-l">Attachments</h2>
                <p class="govuk-body">5 attached files <br><a href="#" class="govuk-link">Download all 5 files [zip]</a></p>
                <dl class="govuk-summary-list ">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-summary-list__40">
                        <a href="#"><strong>Screenshot 2020-05-27 at 14.05.02.png</strong></a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        This is a description of the file
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="supporting-documents?change=yes">
                          Download <span class="govuk-visually-hidden"> Screenshot 2020-05-27 at 14.05.02.png</span>
                        </a>
                      </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-summary-list__40">
                        <a href="#"><strong>Screenshot 2020-05-27 at 13.10.45.png</strong></a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Packing list
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="supporting-documents?change=yes">
                          Download<span class="govuk-visually-hidden"> Screenshot 2020-05-27 at 13.10.45.png</span>
                        </a>
                      </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-summary-list__40">
                        <a href="#"><strong>Screenshot 2020-05-27 at 13.14.14.png</strong></a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Passport for all hourses
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="supporting-documents?change=yes">
                          Download<span class="govuk-visually-hidden"> Screenshot 2020-05-27 at 13.14.14.png</span>
                        </a>
                      </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-summary-list__40">
                          <a href="#"><strong>Screenshot 2020-05-27 at 13.07.12.png</strong></a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <span class="govuk-hint"></span>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="supporting-documents?change=yes">
                          Download<span class="govuk-visually-hidden"> Screenshot 2020-05-27 at 13.07.12.png</span>
                        </a>
                      </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-summary-list__40">
                          <a href="#"><strong>Screenshot 2020-05-27 at 13.06.48.png</strong></a>
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Another file
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="supporting-documents?change=yes">
                          Download<span class="govuk-visually-hidden"> Screenshot 2020-05-27 at 13.06.48.png</span>
                        </a>
                      </dd>
                    </div>





                    <!-- <p class="govuk-body govuk-!-margin-top-6"><a href="supporting-documents?change=yes" class="govuk-link">Add more attachments</a></p> -->

                    </dl>
                    <p class="govuk-body"><a class="govuk-link--no-visited-state"href="supporting-documents>?return_to=review-your-answers-attachments-tab">Add attachments</a></p>

      </div>
      <div class="govuk-tabs__panel" id="exa-tab">
        <h2 class="govuk-heading-l">Information needed by APHA</h2>
        <p class="govuk-body">This information has been provided by the exporter and cannot be changed</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-4 govuk-summary-list__m">
          <div class="govuk-summary-list__row">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Create a reference number
              </dt>
              <dd class="govuk-summary-list__value">
                309840932842
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/reference?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>
              </dd> -->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Select the certifier practice to include with your application
              </dt>
              <dd class="govuk-summary-list__value">IKVETS Crewe
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/certifier?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-4">Change</a>
              </dd> -->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Select certificate delivery address
              </dt>
              <dd class="govuk-summary-list__value">Crewe Joe Bloggs Road, Crewe, CW1 6GJ,
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/certifier-confirm-address?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-5">Change</a>
              </dd> -->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Delivery method
              </dt>
              <dd class="govuk-summary-list__value">First class post
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/certifier-certificate-delevery?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-6">Change</a>
              </dd> -->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Certification region
              </dt>
              <dd class="govuk-summary-list__value">
                yes
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="page?id=10&amp;next=check-your-answers">
                  Change<span class="govuk-visually-hidden"> Certification region</span>
                </a>
              </dd> -->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exporter name
              </dt>
              <dd class="govuk-summary-list__value">
                	ABC EXPORTS LTD
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="page?id=11&amp;next=check-your-answers">
                  Change<span class="govuk-visually-hidden"> Exporter name</span>
                </a>
              </dd> -->
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Planned export date
              </dt>
              <dd class="govuk-summary-list__value">
                05/05/2020
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="page?id=16&amp;next=check-your-answers">
                  Change<span class="govuk-visually-hidden"> Planned export date</span>
                </a>
              </dd> -->
            </div>
          </div>

        </dl>
      </div>
    </div>
    <!-- {Tasks -->

  </div>
</div>
<section class="form-block attachment embedded">
</section>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="../../certifier-record-decision" method="POST">
      <input type="hidden" name="crumb_csrf_token" value="Gb3xP1qcExjm3zE_f922QkO0sYPMkZLJ3ad_zQ1l8ei">
      <input type="hidden" name="applicationFormStatus" value="">
      <!-- <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue"> -->
      <a class="govuk-button" href="../../certifier-record-decision">Continue</a>
      <!-- <p class="govuk-body"><a class="govuk-link" href="../../summary/case-completed">Do not replace this certificate</a></p> -->
    </form>
  </div>
</div>
{% endblock %}
