{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
{% block navadmin %}{% include "../includes/nav-admin.html" %}{% endblock %}
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-multi-org-dashboard">Back</a>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div>
                    <h1 class="govuk-heading-l heading">Export animal to
                        United Arab Emirates -
                        2849EHC</h1>
                </div>
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-column-three-quarters">

                        <p class="govuk-body">
                            Case ID: 19/1527 <br>
                            Name of applicant: Alan Home Purchase <br>
                            Destination country: United Arab Emirates
                            <br>
                            Proposed export date: 15/05/2019 <br>
                        </p>

                    </div>
                    <div class="govuk-grid-column-one-quarter"><a class="govuk-link" href="/protected/application/1651965954452/ehc" target="_blank" id="download_all_link">Download all certificates</a>
                    </div>
                </div>
                <div>
                    <form id="table-select-certificates" action="#">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">

                                <th class="govuk-table__header">No.</th>
                                <th class="govuk-table__header">Certificate number
                                </th>
                                <th class="govuk-table__header">Actual export date</th>
                                <th class="govuk-table__header">Certificate status</th>
                                <th class="govuk-table__header">Actions</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr class="govuk-table__row">
                                <td id="cert-counter" class="govuk-table__cell" scope="row">1</td>
                                <td id="cert-num" class="govuk-table__cell" scope="row">19-02-005770</td>
                                <td id="actual-export-date" class="govuk-table__cell" scope="row">
                                    30 May 2022
                                </td>
                                <td id="status" class="govuk-table__cell" scope="row">NEW
                                </td>
                                <td id="actions" class="govuk-table__cell" scope="row">
                                    <a id="view_cert_19-02-005770" href="/protected/application/1651965954452/ehc/2caf6335-f672-e911-a830-000d3a207f58" target="_blank">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td id="cert-counter" class="govuk-table__cell" scope="row">2</td>
                                <td id="cert-num" class="govuk-table__cell" scope="row">19-02-005771</td>
                                <td id="actual-export-date" class="govuk-table__cell" scope="row">
                                    30 May 2022
                                </td>
                                <td id="status" class="govuk-table__cell" scope="row">COMPLETED
                                </td>
                                <td id="actions" class="govuk-table__cell" scope="row">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div>
                    </div>
                </div>
            </div>
        </div>




{% endblock %}
