
{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="../certifier-multi-org-dashboard">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-xl">
          Review your answers
        </h1>

        <div class="govuk-details__text">
          <strong class="govuk-body govuk-!-font-weight-bold">
            Your application for a health certificate is now ready to be submitted.<br><br>
            Please check that the answers you've provided are correct.
          </strong>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="specific-commodity-question">
              What are you exporting?
            </td>
            <td class="govuk-table__cell" scope="row" id="specific-commodity-answer">
              Porcine
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/choose-commodity" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-6-question">Assign a reference number (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="0-answer">34455
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-question">Select the certifier practice to include with your application
            </td>
            <td class="govuk-table__cell" scope="row" id="1-answer">ADM ACCOUNTING LIMITED Hornbeam House  CW12 3ER
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/2/organisation-search" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-1">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-question">Select certificate delivery address
            </td>
            <td class="govuk-table__cell" scope="row" id="2-answer">Hornbeam House Electra Way Crewe CW12 3ER
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/2/certificate-delivery-address" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6943-question">What is the name of the exporter?
            </td>
            <td class="govuk-table__cell" scope="row" id="3-answer">meat group
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6944-question">In which region will the certification take place?
            </td>
            <td class="govuk-table__cell" scope="row" id="4-answer">England
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6945-question">What is the origin of the animals from which the meat is derived?
            </td>
            <td class="govuk-table__cell" scope="row" id="5-answer">Great Britain
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6946-question">Where were the animals slaughtered?
            </td>
            <td class="govuk-table__cell" scope="row" id="6-answer">Great Britain
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6947-question">When were the animals slaughtered?
            </td>
            <td class="govuk-table__cell" scope="row" id="7-answer">may 2019
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6948-question">What are the dates of processing of the product?
            </td>
            <td class="govuk-table__cell" scope="row" id="8-answer">may 2019
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6950-question">What is the planned export date of the consignment?
            </td>
            <td class="govuk-table__cell" scope="row" id="9-answer">15 Oct 2019
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6949-question">What is the planned date of certification? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="10-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="6951-question">How would you like the certificate to be delivered?
            </td>
            <td class="govuk-table__cell" scope="row" id="11-answer">First class post
            </td>
            <td class="govuk-table__cell align-right" scope="row">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="370-question">What are the details of the slaughterhouse of origin?
            </td>
            <td class="govuk-table__cell" scope="row" id="12-answer">cold store
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/1?selectedQuestion=370" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-12">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="372-question">Provide name, address and Veterinary Approval number for any additional slaughterhouses.  (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="13-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/1?selectedQuestion=372" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-13">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="373-question">If any additional slaughterhouses were used, what are the details? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="14-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/1?selectedQuestion=373" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-14">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="371-question">What are the details of the cutting plant? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="15-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/2?selectedQuestion=371" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-15">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="398-question">Provide name, address and Veterinary Approval number for any additional cutting plants.  (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="16-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/2?selectedQuestion=398" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-16">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="399-question">Provide name, address and Veterinary Approval number for any additional cutting plants.  (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="17-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/2?selectedQuestion=399" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-17">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="374-question">What are the details of the cold store? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="18-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/3?selectedQuestion=374" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-18">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="375-question">What is the name of the product? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="19-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/4?selectedQuestion=375" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-19">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="376-question">What type of product is it? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="20-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/4?selectedQuestion=376" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-20">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="377-question">What is the type and number of packages? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="21-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/5?selectedQuestion=377" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-21">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="378-question">What is the gross weight of the product(s)?  (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="22-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/6?selectedQuestion=378" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-22">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="379-question">What is the net weight of the product(s)? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="23-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/6?selectedQuestion=379" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-23">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="380-question">What is the range of slaughter dates? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="24-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/7?selectedQuestion=380" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-24">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="381-question">What are the dates of cutting, from earliest to latest? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="25-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/8?selectedQuestion=381" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-25">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="382-question">What are the dates of production? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="26-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/9?selectedQuestion=382" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-26">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="383-question">What is the shelf life of the product(s)? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="27-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/10?selectedQuestion=383" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-27">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="384-question">What are the batch numbers? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="28-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/11?selectedQuestion=384" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-28">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="385-question">What are the shipping marks? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="29-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/12?selectedQuestion=385" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-29">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="386-question">What is the storage temperature? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="30-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/13?selectedQuestion=386" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-30">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="391-question">What is the container number? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="31-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/14?selectedQuestion=391" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-31">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="392-question">What is the seal number? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="32-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/14?selectedQuestion=392" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-32">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="1509-question">Transportation type (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="33-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/14?selectedQuestion=1509" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-33">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="1507-question">Departure port (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="34-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/14?selectedQuestion=1507" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-34">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="1510-question">Expected sailing date from the final UK port (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="35-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/14?selectedQuestion=1510" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-35">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="1508-question">Entry port in China (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="36-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/14?selectedQuestion=1508" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-36">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="393-question">What is the name and address of the consignor? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="37-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/15?selectedQuestion=393" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-37">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="394-question">What is the name and address of the consignee? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="38-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/16?selectedQuestion=394" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-38">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="396-question">When will the certificate be issued? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="39-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/17?selectedQuestion=396" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-39">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="1511-question">Place of issue (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="40-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/17?selectedQuestion=1511" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-40">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="397-question">What is the name of the certifying official? (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="41-answer">
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/7006EHC/application/1721147994237/page/18?selectedQuestion=397" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-41">Change</a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="govuk-grid-column-full margin-bottom-15">
          <div class="govuk-grid-row govuk-!-font-weight-bold margin-bottom-15">
            <h1 class="govuk-heading-m">Supporting documents</h1>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-body govuk-!-margin-0">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File name
                    </div>
                    <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters wrap" id="file_0">
                          No documents uploaded
                        </div>
                        <div class="govuk-grid-column-one-quarter align-right"><a href="/protected/form/7006EHC/application/1721147994237/supplementary-documents" id="change_file_0" class="govuk-link">Change</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File
                      description
                    </div>
                    <div class="govuk-grid-column-three-quarters wrap" id="description_0">

                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-warning-text">
            <span class="icon icon-file-download"></span>
            <span class="govuk-visually-hidden">File download</span>
            <strong class="govuk-body govuk-!-font-weight-regular">Preview your answers in a <a href="/protected/application/1721147994237/preview" data-qa-id="Link-PreviewCertificate" target="_blank" class="govuk-link">specimen certificate</a>.</strong>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div>
            <form action="review" method="POST">
              <input type="hidden" name="crumb_csrf_token" value="N-QRLSGJobhSKZIet0ZJFbkozJuKks3aelWTq9uAjpi">
              <input type="hidden" name="applicationFormStatus" value="">
              <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
