{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
{% if data.orgs=="multi"%}
{% block navadmin %}{% include "../includes/nav-admin.html" %}{% endblock %}
{% else %}
{% block navadminSingle %}{% include "../includes/nav-admin-single.html" %}{% endblock %}
{% endif %}
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-single-org-dashboard">Back</a>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div>
      <h1 class="govuk-heading-l heading">Export dairy and dairy products to Australia:
        6969EHC</h1>
    </div>
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-three-quarters">

        <p class="govuk-body">
          Case ID: 19/1456 <br>
          Name of applicant: Caitlin Dixon <br>
          Destination Country: Australia
          <br>
          Proposed export date: 2019-12-06 <br>
        </p>

      </div>
      <div class="govuk-grid-column-one-quarter"> </div>
    </div>
    <div>
      <form id="table-select-certificates" action="#">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Certificate number
              </th>
              <th class="govuk-table__header">Actual export date</th>
              <th class="govuk-table__header">Certificate status</th>
              <th class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody>

            <tr class="govuk-table__row">
              <td id="cert-num" class="govuk-table__cell" scope="row">19/2/008722</td>
              <td id="actual-export-date" class="govuk-table__cell" scope="row">
                02 Aug 2019
              </td>
              <td id="status" class="govuk-table__cell" scope="row">{% if data.status_6969 == "completed" %}CERTIFIED{% else %}DISPATCHED{% endif %}
              </td>
              <td id="actions" class="govuk-table__cell" scope="row">

                {% if data.status_6969 == "completed" %}

                {% elseif data.status_6969 == "approved" %}
                <a id="continue_link_19/2/008722" href="../close-certificate?status_6969=completed&return=dispatched">
                  Continue
                </a>
                {% else %}
                <a id="continue_link_19/2/008722" href="../certificates/6969EHC/review-your-answers?status_6969=approved&return=dispatched">
                  Continue
                </a>
                {% endif %}
                <div>
                <a id="view_cert_19/2/008722" href="/public/images/ehc-6969ehc-8.1.pdf"  target="_blank">
                  View certificate
                </a>
                &nbsp;
                {% if data.status_6969 != "completed" %}
                <a id="view_cert_19/2/008722" href="/public/images/ehc-6969ehc-8.1-edit.pdf" target="_blank">
                  Editable certificate
                </a>
                {% endif %}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>


{% endblock %}
