{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Organisation switcher for dashboard
      <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
    </h1>
    <p class="govuk-hint">also including designs for reposnsive tables. </p>
    <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-4870" class="govuk-link">View EXP-4870 story on jira</a></p> -->
    <p class="govuk-body">improved iteraion of the org switcher. Made it more accecible and responsive</p>
    <ul class="govuk-list">
      <li><a href="certifier-multi-org-dashboard">Dashboard</a></li>
      <li><a href="switch-organisation">choose organisation</a></li>
      <li><a href="summary/case-awaiting-dispatch">new switcher on summary page</a></li>
    </ul>

  </div>
</div>

{% endblock %}
