{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container" id="beta-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h1 id="questionPageHeading" class="govuk-heading-xl margin-bottom-20">Transport details</h1>
      <span id="questionPageSubtitle" class="govuk-caption-xl"></span>
      <p>
      </p>
      <form action="{% if query.change == 'yes' %}review-your-answers{% else %}consignor{% endif %}" method="GET">
        <!-- @formatter:off -->
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-0">What is the container number? (optional)</label>
        <input
            class="govuk-input govuk-input--width- form-control-3-4" id="7006EHC-0" name="transport_contianer_number" value="" type="" autofocus="autofocus" data-qa-id="Question-7006EHC-0" data-com.onepassword.iv="" data-op-id="0">
        </div>
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-1">What is the seal number? (optional)</label>
          <input class="govuk-input govuk-input--width- form-control-3-4" id="7006EHC-1" name="transport_seal_numbers" value="" type="" data-qa-id="Question-7006EHC-1" data-com.onepassword.iv="">
        </div><input type="hidden" name="1-formQuestionId" value="392">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-2">Transportation type (optional)</label>
          <div class="govuk-hint">In the majority of cases the transport should be entered as ‘Refrigerated Container by Sea’. The name of the ship need not be entered in this section.</div>
          <input class="govuk-input govuk-input--width- form-control-3-4" id="7006EHC-2" name="transport_type" value="" type="" data-qa-id="Question-7006EHC-2">
        </div>
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-3">Departure port (optional)</label>
          <div class="govuk-hint">In cases where two UK ports are involved prior to the consignment leaving the UK, then both ports are to be entered in the certificate alongside the respective dates of sailing. e.g. Belfast (23/03/2018) /
            Southampton (29/03/2018)</div>
          <input class="govuk-input govuk-input--width- form-control-3-4" id="7006EHC-3" name="transport_port_departure" value="" type="" data-qa-id="Question-7006EHC-3">
        </div><input type="hidden" name="3-formQuestionId" value="1507">
        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label govuk-!-font-weight-bold">Expected sailing date from the final UK port (optional)</label>
              <span class="govuk-hint">This date must not be before the date of certification</span>
            </legend>
            <div class="govuk-date-input">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="7006EHC-4-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="7006EHC-4-day" name="transport_day" value="" data-qa-id="Question-7006EHC-4-Day" type="number" pattern="^[0-9]{2}$">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="7006EHC-4-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="7006EHC-4-month" name="transport_month" value="NaN" data-qa-id="Question-7006EHC-4-Month" type="number" pattern="^[0-9]{2}$">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="7006EHC-4-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="7006EHC-4-year" name="transport_year" value="NaN" data-qa-id="Question-7006EHC-4-Year" type="number" pattern="^[0-9]{4}$">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-5">Entry port in China (optional)</label>
          <div class="govuk-hint">Where two ports are involved on arrival to China, i.e. transhipment at initial port of arrival in China for internal travel to the final port of entry where the final import clearance will be carried out, then both
            ports need to be entered</div>
          <input class="govuk-input govuk-input--width- form-control-3-4" id="7006EHC-5" name="transport_china_port" value="" type="" data-qa-id="Question-7006EHC-5">
        </div><input type="hidden" name="5-formQuestionId" value="1508">
        <div class="govuk-grid-row margin-top-30"></div>
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
          <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
          </div>
        </div>
      </form>
      <p></p>
    </div>
  </div>
</div>
{% endblock %}
