{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
{% block navadmin %}{% include "./includes/nav-admin.html" %}{% endblock %}
<!-- back button -->

<!-- <div>
  <a class="govuk-back-link" id="link-back" href="../certifier-multi-org-dashboard">Back</a>
</div> -->
<style media="screen">
  .govuk-table .govuk-tag.orange{
    color: #0b0c0c;
background: #FFBF47;
border: 3px solid #FFBF47;
  }
  .govuk-table  .gray-tag {
    color: #0b0c0c;
    background: #DEE0E2;
    border: 3px solid #DEE0E2;
}
</style>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your Cases</h1>
    <form method="GET">
      <div class="search-wrapper govuk-form-group">
        <label for="search-reservations" class="govuk-label">
          Search by case ID, name, destination or reference number
        </label>
        <div class="search-input-wrapper">
          <input type="search" value="{{query.search or ''}}" id="search-reservations" name="search" title="Search" class="govuk-input">
          <div class="search-input-submit-wrapper">
            <button type="submit" class="search-submit">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-full">
    {% if query.search %}
    <p class="govuk-body"><a href="dashboard" class="govuk-link govuk-link--no-visited-state">Clear search</a></p>
    <p class="govuk-body">
      There are <span id="js-case-count"></span> cases matching <strong>‘{{query.search}}’</strong>
    </p>
    {% endif %}
    <table class="govuk-table responsive-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            <div class="applicationRef-column">Case ID</div>
          </th>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Export date</th>
          <th class="govuk-table__header">Destination</th>
          <th class="govuk-table__header">Status</th>
          <th class="govuk-table__header">Reference</th>

        </tr>
      </thead>
      <tbody>
        <!-- loop through a an array of cases. can be found in app > data > cases.json.
              Loaded via app > data > session-data-defaults.js -->
        {% for case in data.case_list %}
        {% if (query.search|upper) in (case.name|upper)
            or (query.search|upper) in (case.caseID|upper)
            or (query.search|upper) in (case.destination|upper)
            or (query.search|upper) in (case.destination|upper)
            or (query.search|upper) in (case.certificate|upper)
          %}
        <tr class="govuk-table__row">
          <th id="-appRef" class="govuk-table__cell applicationRef-column table-header" scope="row">
            <a id="dashboard_action_link_1651965954452" class="govuk-link govuk-link--no-visited-state" href="{% if case.status=='awaiting dispatch'%}summary/case-awaiting-dispatch{%elseif case.status=='certifier action'%}summary/case-certifier-action{%elseif case.is_replacement == 'yes'%}summary/case-new{%else%}summary/case-{{case.status}}{%endif%}?ehc={{case.EHC or '6969EHC'}}&destination={{case.destination}}&cert_id={{case.index}}">
              <span class="table-heading table-heading-full" aria-hidden="true">Case ID </span> {{case.caseID}}
            </a>
          </th>
          <td id="-commodity" class="govuk-table__cell commodity-column" scope="row">
            <span class="table-heading" aria-hidden="true">Name </span> {{case.name}}
          </td>
          <td id="-submitted" class="govuk-table__cell submitted-column" scope="row">
            <span class="table-heading" aria-hidden="true">Export date </span> {{case.date}}
          </td>
          <td id="-destination" class="govuk-table__cell" scope="row">
            <span class="table-heading" aria-hidden="true">Destination </span> {{case.destination}}
          </td>
          <td id="-status" class="govuk-table__cell" scope="row">
            <span class="table-heading" aria-hidden="true">Status </span>
            <strong class="govuk-tag
                    {% if case.status=='completed'%}green
                    {%elseif case.status=='new' or case.status=='processing'%}blue
                    {%elseif case.status=='dispatched'%}turquoise
                    {%elseif case.status=='withdrawn'%}gray-tag
                    {% elseif case.status=='pending'%}dark-grey
                    {%elseif case.status=='certifier action' or case.status=='cancelled' or case.status=='replaced' %}orange
                    {%else%}red
                    {%endif%}
                    ">
              {{case.status}}
            </strong>
          </td>
          <td id="table-reference" class="govuk-table__cell" scope="row">
            <span class="table-heading" aria-hidden="true">Reference </span> {{case.reference or 'Not set'}}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr class="govuk-table__row">
          <th id="-appRef" class="govuk-table__cell applicationRef-column table-header" scope="row">
            <a id="dashboard_action_link_1651965954452" class="govuk-link govuk-link--no-visited-state" href="summary/case-block?ehc=8270EHC&amp;destination=France&amp;cert_id=15">
              <span class="table-heading table-heading-full" aria-hidden="true">Case ID </span> 19/3423
            </a>
          </th>
          <td id="-commodity" class="govuk-table__cell commodity-column" scope="row">
            <span class="table-heading" aria-hidden="true">Name </span> Farmfoods
          </td>
          <td id="-submitted" class="govuk-table__cell submitted-column" scope="row">
            <span class="table-heading" aria-hidden="true">Export date </span> 09 Nov 2019
          </td>
          <td id="-destination" class="govuk-table__cell" scope="row">
            <span class="table-heading" aria-hidden="true">Destination </span> France
          </td>
          <td id="-status" class="govuk-table__cell" scope="row">
            <span class="table-heading" aria-hidden="true">Status </span>
            <strong class="govuk-tag
                    turquoise">
              dispatched
            </strong>
          </td>
          <td id="table-reference" class="govuk-table__cell" scope="row">
            <span class="table-heading" aria-hidden="true">Reference </span> FF CH983982 FR
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  window.addEventListener('load', function() {
    var count = $('.govuk-table__row').length-1
    $('#js-case-count').text(count);
    if(count == 0){
      $('.govuk-table').hide()
    }
  })

</script>
{% endblock %}
