{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Review your answers
    </h1>

    <div class="govuk-details__text">
      <strong class="govuk-body govuk-!-font-weight-bold">
        Your application for a health certificate is now ready to be submitted.<br>
        Please check that the answers you've provided are correct.
      </strong>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What are the details of the slaughterhouse of origin?
        </dt>
        <dd class="govuk-summary-list__value">
          Westinghouse, 12 Bath Road, Slought, VA1212
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provide name, address and Veterinary Approval number for any additional slaughterhouses
        </dt>
        <dd class="govuk-summary-list__value">
          Westinghouse, 12 Bath Road, Slought, VA1212
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          If any additional slaughterhouses were used, what are the details?
        </dt>
        <dd class="govuk-summary-list__value">
          Westinghouse, 12 Bath Road, Slought, VA1212
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What are the details of the cutting plant?
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provide name, address and Veterinary Approval number for any additional cutting plants.
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>


      <!--

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

 -->


    </dl>


    <div class="govuk-grid-column-full margin-bottom-15">
      <div class="govuk-grid-row govuk-!-font-weight-bold margin-bottom-15">
        <p class="govuk-!-font-weight-bold govuk-!-font-size-27">Supporting
          documents</p>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-body govuk-!-margin-0">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File name
                </div>
                <div class="govuk-grid-column-three-quarters">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters wrap" id="file_0">
                      No documents uploaded
                    </div>
                    <div class="govuk-grid-column-one-quarter align-right"><a href="/protected/form/6756EHCBlockWithPre/application/1651965999461/supplementary-documents" id="change_file_0" class="govuk-link">Change</a></div>
                  </div>
                </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">File
                  description
                </div>
                <div class="govuk-grid-column-three-quarters wrap" id="description_0">

                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>


    <p>&nbsp;</p>


    <div class="govuk-warning-text">
      <span class="icon icon-file-download"></span>
      <span class="govuk-visually-hidden">File download</span>
      <strong class="govuk-body govuk-!-font-weight-regular">Preview your answers in a <a href="/protected/form/6756EHCBlockWithPre/application/1651965999461/preview" data-qa-id="Link-PreviewCertificate" target="_blank" class="govuk-link">specimen
          certificate</a>.</strong>
    </div>


    <p>&nbsp;</p>


    <form action="/confirmation" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}
