{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, you don't have access to this service</h1>
    <p class="govuk-body">
      You need to be registered as a business user to access this service.
    </p>
    <p class="govuk-body">If you need to speak to somebody about access to this service,
      <a class="govuk-link" href="#">
        do something here</a></p>
  </div>
</div>



{% endblock %}
