{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Certifiers' prototype
      <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
    </h1>{{releaseVersion | log }}

    <h2 class="govuk-heading-m">Certifier registration</h2>

    <p>
      <a href="start.html" class="govuk-link--no-visited-state">Start here (Initial Organisation Administrator)</a>
    </p>

    <p>
      <a href="https://identity-management-app.herokuapp.com/emails/E1-invite-email" class="govuk-link--no-visited-state">Start here (individual Certifier invited to register)</a>
    </p>

    <span>test</span>

    <span class="govuk-hint">
    Username and password for Identity pages, if needed -<br>
    <strong>username:</strong> whoareyou, <strong>password:</strong> menotyou
  </span>

    <br>

    <p><strong>Post-IDM screens</strong></p>
    <p>
      <a href="certifier-org_post-idm_address">Confirm org details
      </a>
    </p>
    <p>
      <a href="certifier-org_post-idm">Registered but not yet approved (Organisation admin)
      </a>
    </p>
    <p>
      <a href="certifier-ov_post-idm">Registered but not yet approved (OV)
      </a>
    </p>


    <br><br>

    <h2 class="govuk-heading-m">Certifier case processing</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="select-certifier-org" class="govuk-link--no-visited-state">Certifier selects an Organisation</a>
      </li>
      <li>
        <a href="certifier-multi-org-dashboard" class="govuk-link--no-visited-state">Certifier dashboard</a>
      </li>
      <li>
        <a href="certifier-multi-org-case-summary-single" class="govuk-link--no-visited-state">Case summary (single certificate)</a>
      </li>
      <li>
        <a href="certifier-multi-org-case-summary" class="govuk-link--no-visited-state">Case summary</a>
      </li>
    </ul>

    <br><br>

    <h2 class="govuk-heading-m">BAU</h2>

    <p>
      <a href="exp-6472">EXP-6472 Certifier Onboarding: Confirm Address and Certifier Details Screen
      </a>
    </p>
    <p>
      <a href="exp-6472b">EXP-6472 Certifier Onboarding: Confirm Address and Certifier Details Screen (with hint text)
      </a>
    </p>

    <p>
      <a href="exp-6313">EXP-6313 Certifier Onboarding: Confirmation of submission screen
      </a>
    </p>

    <p>
      <a href="exp-6545">EXP-6545 Certifier Onboarding: personal accounts prohibited
      </a>
    </p>

    <p>
      <a href="exp6673">EXP-6673 Certifier Onboarding: Show organisation selector on Splash Screen
      </a>
    </p>



    <br>


  </div>
</div>

{% endblock %}
