{% extends "layout.html" %}

{% block pageTitle %}
EXP-8903 contents page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Certifier v6
      <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
    </h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <ul class="govuk-list">
      <li><a href="cases?filter_status=&has_filter=">Cases with new tags.</a></li>
      <br>
      <li>New design for the review page.</li>
      <li><a href="../EXP-9791-remove-change-for-cg/certificates/2849EHC/review-your-answers">New reivew certiifcate page with tabs</a></li>
      <li><a href="../EXP-10653-attachments/summary/case-dispached-new-single#past-day">New summary page with tabs (no review page)</a></li>

    </ul>



  </div>
</div>
{% endblock %}
