{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
<!-- {% block beforeContent %}
{{super()}}

{% endblock %} -->
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-alert defra-alert--success">
      <p class="govuk-body govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Successfully approved certificate 12/2312322</p>
    </div>
    <form id="CloseCaseForm" method="POST">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Has the certificate been signed and issued?
            </h1>
          </legend>
          <p class="govuk-body"></p>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approved" name="is_signed" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="approved">
                Yes, I'm ready to close this certificate
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejected" name="is_signed" type="radio" value="no" data-aria-controls="conditional-decision-conditional-2">
              <label class="govuk-label govuk-radios__label" for="rejected">
                No, not yet
              </label>
            </div>
            </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <input type="hidden" name="crumb_csrf_token" value="T7T4SHvWvcq7qk1MSfTevo6ezo5qfnvArpiUHe8Nr2d">
        <input class="govuk-button margin-top-30" type="submit" name="acceptAndSubmit" value="Continue" id="Button-CertifierRecordDecisionSubmit">
      </div>
    </form>
  </div>
</div>
{% endblock %}
