{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
{% block navadmin %}{% include "../includes/nav-admin.html" %}{% endblock %}
<!-- back button -->
<div>
  <a class="govuk-back-link" id="link-back" href="../certifier-multi-org-dashboard">Back</a>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div>
      <h1 class="govuk-heading-l heading">Export animal to
        United Arab Emirates -
        8270EHC</h1>
    </div>
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-three-quarters">

        <p class="govuk-body">
          Case ID: 19/925 <br>
          Name of applicant: Carla Miller <br>
          Destination Country: United Arab Emirates
          <br>
          Proposed export date: 2019-08-02 <br>
        </p>

      </div>
      <div class="govuk-grid-column-one-quarter"> </div>
    </div>
    <div>
      <form id="table-select-certificates" action="#">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Certificate number
              </th>
              <th class="govuk-table__header">Actual export date</th>
              <th class="govuk-table__header">Certificate status</th>
              <th class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody>

            <tr class="govuk-table__row">
              <td id="cert-num" class="govuk-table__cell" scope="row">19/2/008722</td>
              <td id="actual-export-date" class="govuk-table__cell" scope="row">
                02 Aug 2019
              </td>
              <td id="status" class="govuk-table__cell" scope="row">AWAITING DISPATCH
              </td>
              <td id="actions" class="govuk-table__cell" scope="row">
                <a id="continue_link_19/2/008722" href="../certificates/8270EHC/review-your-answers?destroy=yes">
                  Continue
                </a>
                &nbsp;
                <a id="view_cert_19/2/008722" href="/protected/application/1721147987161/ehc/1d8aa99b-40b1-e911-a984-000d3ab6a35c" rel="noreferrer noopener" target="_blank">
                  View certificate
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>


{% endblock %}
